.start__field{
    display: flex;

}
.start__field--wrap{
    display: flex;
    flex-direction: column;
}
.field{
    width: 55px;
    margin: 0 15px 15px 0;
    padding: 15px 5px;
}
.main__column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}